.glyph-icon {
    -fx-font-family: "Material Design Icons";
}

.card {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 10, 0.12, -1, 2);
}

.card .body {
    -fx-background-radius: 0 0 5px 5px;
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 14.0px;
}

.card .slider {
    -fx-background-color: white;
    -fx-padding: 5.0px;
}

.card .header {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: mediumaquamarine;
    -fx-max-height: 35px;
}

.action-button {
    -fx-background-color: mediumaquamarine;
}

.tab-theory-icon {
    -glyph-name: "INFO_OUTLINE";
    -fx-fill: #464547;
}

.tab-model-icon {
    -glyph-name: "MULTILINE_CHART";
    -fx-fill: #4fcd6d;
}

.upload_icon {
    -glyph-name: "FILE_UPLOAD";
    -fx-fill: black;
    -fx-stroke-type: outside;
    -fx-stroke-width: 0;
}

.bottom-keypad {
    -fx-padding: 10.0px;
}

.jfx-text-field {
    -jfx-label-float: true;
}

.jfx-combo-box {
    -jfx-label-float: true;
}

.circle-button {
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-text-fill: WHITE;
}

.chart {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 10, 0.12, -1, 2);
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 0.0px;
}

.chart-title {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: mediumaquamarine;
    -fx-pref-height: 35px;
}

.chart-content {
    -fx-padding: 30px;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}